<div class="row">
    <div class="col-12">
        <h3>{{'avm.avm-lista' | translate}}</h3>
    </div>
</div>
<div class="row" *ngIf="showAddBtn()">
    <div class="col-12 text-end">
        <button type="button" class="btn btn-primary" routerLink="new">{{'avm.adauga' | translate}}</button>
    </div>
</div>
<div class="row mb-1">
    <div class="col-2">
        <b>{{'avm.nava' | translate}}</b>
    </div>
  <div class="col-2">
    <b>{{'avm.port' | translate}}</b>
  </div>
    <div class="col-2">
        <b>{{'avm.agent-nava' | translate}}</b>
    </div>
    <div class="col-2">
        <b>{{'avm.eta' | translate}}</b>
    </div>
    <div class="col-3">
        <b>{{'avm.status' | translate}}</b>
    </div>
</div>
<div class="row border-top" *ngFor="let item of items">
    <div class="col-2 m-auto">
        {{item.shipName}}
    </div>
    <div class="col-2 m-auto">
      {{item.portName}}
    </div>
    <div class="col-2 m-auto">
        {{item.agentName}}
    </div>
    <div class="col-2 m-auto">
        {{formatDateTime(item.estimatedArrivalTime)}}
    </div>
    <div class="col-3 m-auto">
        {{('avm.status-' + item.documentStatus) | translate}}
    </div>
    <div class="col-1 m-auto">
      <button type="button" class="btn btn-secondary me-1" routerLink="{{item.id!}}" ngbTooltip="{{'app.vizualizare' | translate}}">
        <i class="bi bi-eye"></i>
      </button>
      <button type="button" class="btn btn-secondary me-1" *ngIf="showResolveBtn(item)" (click)="goToResolve(item.id!)" ngbTooltip="{{'app.avizeaza' | translate}}">
        <i class="bi bi-check"></i>
      </button>
      <button type="button" class="btn btn-secondary me-1" *ngIf="showEditBtn(item)" (click)="goToEdit(item.id!)" ngbTooltip="{{'app.editeaza' | translate}}">
        <i class="bi bi-pencil-square"></i>
      </button>
      <button type="button" class="btn btn-secondary" *ngIf="showCancelBtn(item)" (click)="goToCancel(item.id!)" ngbTooltip="{{'app.anuleaza' | translate}}">
        <i class="bi bi-x-octagon"></i>
      </button>
    </div>
</div>
